{% extends 'page/base.html' %}

{% block content %}
  <div class="container my-5">
      <h1 class="text-center text-info">Find A Doctor</h1>

      <div class="row">
        {% for cat in cats %}
          <div class="col-md-4 mb-3">
            <a href="{% url 'doctor-filter-page' cat.id %}">
              <div class="card">
                <div class="card-body bg-dark">
                  <p class="text-center"><if class="fa fa-users fa-3x"></if></p>
                  <h5 class="card-title text-center">{{cat.title}}</h5>
                  <p class="card-text text-center font-weight-bolder">{{cat.name}}/{{cat.id}}</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}